* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body,
html {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  overflow-x: hidden;
}
#main #heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 3rem;
  font-weight: 500;
}

#navbar {
  width: 95%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(255, 255, 255);
}
#navbar #logo img {
  width: 3rem;
  zoom: 5;
}
#navbar .icon {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
#navbar #nav {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 7rem;
  right: 0;
  width: 16rem;
  height: 30rem;
  padding: 1rem;
  background-color: #e6e1dc;
  color: black;
}
#navbar #nav img {
  width: 2rem;
  margin-left: 13rem;
}
#navbar #nav ul li {
  list-style: none;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
#navbar #nav ul li a {
  text-decoration: none;
  color: black;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.banner .firstheading {
  font-size: 2rem;
  width: 45rem;
}
.banner .firstheading h1 {
  font-weight: 400;
  color: #302e2d;
}
.banner .bannersecondheading {
  width: 19rem;
}
.banner .bannersecondheading h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #302e2d;
}
.banner .consultation button {
  border: 2px solid #c36247;
  display: flex;
  width: 15rem;
  border-radius: 20px;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: #c36247;
}

.headerImage {
  padding: 1rem 3rem;
}
.headerImage img {
  width: 100%;
  height: 40rem;
}

#searchTab {
  display: none;
  width: 100%;
  height: 6.3rem;
  background-color: #e6e1dc;
  position: absolute;
  top: 1rem;
  left: 0;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
#searchTab #searchinput {
  width: 70%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
}
#searchTab #searchinput input {
  width: 70%;
  background-color: #e6e1dc;
  font-size: 1.3rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 1px solid black;
}
#searchTab #searchinput button {
  width: 20%;
  height: 3rem;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: black;
}

#earth {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 7rem;
  right: 2%;
  padding: 2rem 3rem;
  border-radius: 10px;
  background-color: #e6e1dc;
  width: 17rem;
}
#earth .one {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#earth .one h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
#earth .one div {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  flex-wrap: wrap;
}
#earth .one div input {
  width: 2rem;
  height: 1rem;
}
#earth button {
  height: 2rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#one {
  width: 95%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-areas: "a a b" "c d e";
  gap: 1rem;
}
#one .card {
  background-color: #e6e1dc;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
#one .card div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#one .card div .tags {
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
}
#one .card div .tags p {
  width: 5rem;
  height: 2rem;
  font-size: 0.7rem;
  background: rgba(255, 255, 255, 0.6117647059);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: black;
  border-radius: 10px;
}
#one .card div img {
  position: relative;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
#one .card div img:hover {
  transform: scale(1.1);
}
#one .card p {
  font-size: 1rem;
  font-weight: 300;
}
#one .card-a {
  grid-area: a;
}
#one .card-b {
  grid-area: b;
}
#one .card-c {
  grid-area: c;
}
#one .card-d {
  grid-area: d;
}
#one .card-e {
  grid-area: e;
}

#second ::-webkit-scrollbar {
  display: none;
}
#second .secondheading {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 3rem;
}
#second .secondheading h1 {
  font-size: 4rem;
  color: #302e2d;
  font-weight: 400;
}
#second .secondheading p {
  font-size: 1.7rem;
  color: #302e2d;
  margin-top: 1rem;
}
#second .secondbtn {
  display: flex;
  justify-content: end;
  gap: 2rem;
  position: absolute;
  right: 45px;
}
#second .secondbtn img {
  width: 2rem;
  height: 2rem;
}
#second .cardContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
#second .cardContainer .card1 {
  width: 45%;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  flex-shrink: 0;
}
#second .cardContainer .card1 div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#second .cardContainer .card1 div .tags {
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
}
#second .cardContainer .card1 div .tags p {
  width: 5rem;
  height: 2rem;
  background: rgba(255, 255, 255, 0.6117647059);
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: black;
  border-radius: 10px;
}
#second .cardContainer .card1 div img {
  position: relative;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
#second .cardContainer .card1 div img:hover {
  transform: scale(1.1);
}
#second .cardContainer .card1 .location {
  display: flex;
  justify-content: space-between;
}
#second .cardContainer .card1 .location p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.third {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
}
.third .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.third .info div {
  width: 40%;
  color: #302e2d;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.third .info .heading h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.third .info .para p {
  width: 100%;
  text-align: justify;
}
.third .info .para button {
  border: 2px solid #c36247;
  display: flex;
  width: 15rem;
  border-radius: 15px;
  height: 3rem;
  align-items: center;
  background-color: white;
  color: #c36247;
  justify-content: center;
}
.third .thirdImage img {
  width: 100%;
  margin: auto;
}

.four {
  width: 95%;
  margin: auto;
  background-image: url("./assests/1724078123.6340106.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  margin-top: 5rem;
  padding-bottom: 3rem;
}
.four .fourheading {
  width: 65%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.four .fourheading h1 {
  color: #302e2d;
  font-weight: 200;
  font-size: 4rem;
  margin-top: 1rem;
}
.four .fourheading p {
  color: #302e2d;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-size: 1.3rem;
}
.four .fouricons {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.four .fouricons img {
  width: 2rem;
}
.four .fouricons p {
  color: #302e2d;
}
.four .form {
  justify-content: space-around;
  width: 85%;
  margin: auto;
  height: 5rem;
  border-radius: 6px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0rem 1rem;
  box-sizing: border-box;
}
.four .form input {
  width: 30%;
  border: none;
  height: 3rem;
  font-size: 1.1rem;
  padding-left: 1rem;
  border-bottom: 1px solid black;
}
.four .form button {
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

#footer {
  width: 100%;
  padding: 1rem;
  background-color: #302e2d;
  color: white;
  box-sizing: border-box;
  margin-top: 4rem;
}
#footer .firstfooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 1rem;
}
#footer .firstfooter .footerheading {
  width: 25rem;
}
#footer .firstfooter .footerheading h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}
#footer .firstfooter .email {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#footer .firstfooter .email ::-moz-placeholder {
  color: white;
}
#footer .firstfooter .email ::placeholder {
  color: white;
}
#footer .firstfooter .email input {
  background: none;
  color: white;
  height: 2rem;
  border: none;
  border-bottom: 1px solid white;
  width: 55%;
}
#footer .firstfooter .email button {
  background-color: white;
  height: 3rem;
  border: none;
  width: 30%;
  color: #828282;
  border-radius: 15px;
}
#footer .secondfooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}
#footer .secondfooter p {
  font-size: 0.7rem;
}
#footer .secondfooter .copyright {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
#footer .secondfooter .socialmedia {
  display: flex;
  width: 30%;
  justify-content: space-around;
  gap: 1rem;
}

@media (max-width: 1100px) {
  #earth {
    padding: 2rem 1rem;
  }
}
@media (max-width: 1000px) {
  #one {
    grid-template-areas: "a a" "b b" "c c" "d d" "e e";
  }
  #one .card {
    width: 80%;
    margin: auto;
  }
  .four {
    background-position: left !important;
  }
}
@media (max-width: 800px) {
  #navbar .icon {
    width: 40%;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner .firstheading {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .banner .firstheading h1 {
    font-size: 2.5rem;
  }
  .banner .secondheading {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  .banner .secondheading h1 {
    font-size: 1.5rem;
  }
  .banner .consultation button {
    width: 20rem;
  }
  .fourheading h1 {
    font-size: 3rem !important;
  }
  .copyright {
    flex-direction: column;
    gap: 1rem;
  }
  .firstfooter {
    flex-direction: column;
    gap: 1rem;
  }
  .firstfooter .email {
    width: 100% !important;
  }
  #second .secondheading {
    width: 75%;
  }
  #second .secondheading h1 {
    font-size: 3.5rem;
    font-weight: 400;
  }
  #second .secondheading p {
    font-size: 1.5rem;
  }
  #second .cardContainer .card1 {
    width: 60%;
    padding: 2rem 1rem;
  }
}
@media (max-width: 600px) {
  #searchTab #searchinput {
    display: flex;
    justify-content: space-around;
  }
  #searchTab #searchinput input {
    width: 10rem;
    font-size: 1rem;
  }
  #searchTab #searchinput button {
    font-size: 0.8rem;
    height: 3rem;
    width: 5rem;
  }
  .third .info {
    flex-direction: column;
    gap: 1rem;
  }
  .third .info div {
    width: 100%;
  }
  .form {
    flex-direction: column;
    height: 100% !important;
    padding: 1rem !important;
  }
  .form input {
    width: 80% !important;
    margin: auto;
  }
  .footerheading {
    width: 70%;
  }
  .bannersecondheading {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #navbar #logo img {
    width: 2rem;
  }
  #navbar .icon {
    width: 40%;
  }
  .banner {
    padding: 1rem;
  }
  .headerImage {
    padding: 1rem;
  }
  div.tags {
    display: none !important;
  }
  .secondfooter {
    flex-direction: column;
    align-items: start !important;
    gap: 1rem;
  }
  #second .cardContainer .card1 {
    width: 75% !important;
  }
  #second .cardContainer .card1 h3 {
    font-size: 0.8rem;
  }
  #second .cardContainer .card1 .location p {
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  #searchTab #searchinput button {
    display: none;
  }
  .headerImage img {
    height: 25rem;
  }
  #second .secondheading {
    padding: 3rem 0rem;
  }
  .four {
    padding: 0rem;
  }
  .four .fourheading {
    width: 100%;
  }
  .four .fourheading h1 {
    font-size: 2rem !important;
  }
  .four .fourheading p {
    font-size: 0.7rem !important;
  }
  .four .form input {
    font-size: 0.7rem;
    height: 2rem;
  }
  #second .secondheading {
    width: 100%;
  }
  #second .secondheading h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  #second .secondheading p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */